body {
  font-family: Arial;
  background: linear-gradient(to right, #667eea, #764ba2);
}

.box {
  background: white;
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}

button {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}
